node_modules
.env
/scraped_data
/test
testScraper.js

# ide
.vscode/
.idea/
*.swp
*.swo

todo

# backup files
*.backup

# temporary files
tmp*
generate-hash.*

# logs generated when compiling tex report
*.log
